.card {
      position: relative;
      width: 100%;
      overflow: hidden;
  }
  .card-cover-container {
      position: absolute;
      inset: 0;
      overflow: hidden;
      z-index: 1;
  }
  .demo{
    position: relative;
  }
  .demo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    z-index: 31;

  }